.container
    a
        text-decoration: none
        color: inherit
    padding: 0 5vw
    .containerCard
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        .cardWrapper
            padding: 5vh 0
            height: 460px
    .paginationContainer
        display: flex
        justify-content: center
